.cabinet {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	&__edit-submit {
		justify-content: flex-end;
		.btn {
			margin: 15px 0 0;
		}
	}
	&__col {
		padding: 35px 35px 30px;
		position: relative;
		background: #333333;
		font: 300 14px $os;
		color: #fff;
		max-width: 380px;
		width: 100%;
		margin: 0 5px;
		&--add-address {
			display: flex;
			justify-content: space-between;
			margin-top: 15px;
			&-item {
				span {
					display: block;
					font: 300 14px $os;
					color: #fff;
					margin: 0 0 5px;
				}
				.delivery__input {
					width: 55px;
				}
				.delivery__input--street {
					width: 180px;
				}
			}
		}
		&--form {
			margin-top: 20px;
			.item__option {
				margin-left: 10px;
				margin-top: 0;
				float: none;
				display: inline-block;
			}
			&__heading {
				font: 400 16px $os;
			}
			.btn {
				margin: 20px 0 0;
				float: right;
			}
		}
		.delivery__row {
			margin-top: 8px;
		}
		&-large {
			max-width: 450px;
		}
		&-title {
			font: 400 16px $os;
			color: #fff;
			text-decoration: none;
			display: inline-block;
			padding-right: 25px;
			margin-bottom: 15px;
			position: relative;
			&--editable {
				&::after {
					content: '';
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					@include sprite($edit-ico);
				}
				&.active {
					&::after {
						@include sprite($edit-ico-gray);
					}
				}
			}
			&--info {
				background: url(../img/help-ico.png) right 2px top 6px no-repeat;
			}
			&:hover {
				opacity: .8;
			}
		}
		&--info {
			.delivery__input {
				width: 200px;
			}
		}
		&--pizzents {
			&-count {
				font: 300 36px $gt;
				color: #fff;
				margin: 3px 0 0;
			}
			&-note {
				margin: 0;
				padding: 10px 0 20px;
				border-bottom: 1px solid #262626;
			}
			&-link {
				font: 300 24px $gt;
				color: #fec458;
				text-decoration: none;
				border-top: 1px solid #434343;
				display: block;
				text-align: center;
				span {
					padding: 22px 30px 0 0;
					display: inline-block;
					background: url(../img/big-arr.png) right 3px bottom 5px no-repeat;
				}
			}
		}
		&__addresses {
			&-item {
				padding: 17px 0;
				border-bottom: 1px solid #262626;
				border-top: 1px solid #434343;
				padding-right: 25px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				position: relative;
				&:first-child {
					border-top: none;
				}
				&:last-child {
					// border-bottom: none;
					// padding-bottom: 0;
					&::after {
						content: '';
						position: absolute;
						left: 0;
						bottom: 0;
						background: #434343;
						height: 1px;
						width: 100%;
					}
				}
				a {
					background: url(../img/delete-ico.png) no-repeat;
					width: 12px;
					height: 12px;
					position: absolute;
					right: 0;
					top: 20px;
				}
			}
			&-list--empty {
				a {
					color: #fec458;
				}
			}
		}
	}
}

.delivery__input:disabled {
	color: #8b8b8b;
	cursor: not-allowed;
}

