.catalog {
	&__content {
		padding-top: 150px;
	}
	&__top {
		overflow: hidden;
		.slick-dots {
			position: absolute;
			width: 100%;
			text-align: center;
			left: 0;
			text-align: center;
			margin: 0;
			padding: 0;
			z-index: 1;
			bottom: 15px;
			li {
				display: inline-block;
				vertical-align: middle;
				margin: 0 5px;
				&.slick-active,
				&:hover {
					button {
						background: $link-hover-color;
					}
				}
			}
			button {
				cursor: pointer;
				border: none;
				width: 8px;
				height: 8px;
				border-radius: 50%;
				font-size: 0px;
				text-indent: -9999px;
				padding: 0;
				background: #fff;
				outline: 0;
			}
		}
	}
	&__filter {
		display: inline-block;
		vertical-align: middle;
		border-right: 1px solid #000;
	}
	&__header {
		text-align: center;
	}
	&__sort-by {
		border-left: 1px solid #313131;
		display: inline-block;
		vertical-align: middle;
		padding-left: 15px;
		font: 400 14px $os;
		color: #fec24a;
		text-transform: uppercase;
		text-decoration: none;
		padding-right: 12px;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			width: 5px;
			height: 3px;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			@include sprite($arr-up);
		}
		&.active::after {
			@include sprite($arr-down);
		}
		&:hover {
			color: #eaa321;
		}
	}
}







