block footer
	footer.site-footer
		.site-footer__top
			.container.cf
				.site-footer__lside
					p 
						span.site-footer__lside-title ПРИЕМ ЗАКАЗОВ 
						span ВC–ЧТ: с 9:45 до 22:45
						span ПТ–СБ, праздники: с 9:45 до 01:45
				.site-footer__rside
					.site-footer__col
						.site-footer__socials.cf
							a.site-footer__socials-item(href="#" style="background-image: url(img/footer-vk-ico.png)")
							a.site-footer__socials-item(href="#" style="background-image: url(img/footer-fb-ico.png)")
							a.site-footer__socials-item(href="#" style="background-image: url(img/footer-inst-ico.png)")
							a.site-footer__socials-item(href="#" style="background-image: url(img/footer-ok-ico.png)")
						.site-footer__apps
							a.site-footer__socials-item(href="#" style="background-image: url(img/footer-android-ico.png)")
							a.site-footer__socials-item(href="#" style="background-image: url(img/footer-apple-ico.png)")
					.site-footer__col
						a.site-header__tel.default-link(href="tel:+7 (831) 2-550-550") +7 (831) 2-550-550
						p.site-header__loc Ваш город: 
							a.custom-select.site-header__loc-anchor(href="#")
								span.custom-select__title Нижний Новгород
		.site-footer__bottom
			.container.cf
				p.site-footer__copyright © 2017  ООО «МиМ»
				p.site-footer__madeby Разработка сайта: 
					a(href="https://belugalab.ru" target="_blank") Beluga Labs

