extends _layout
block vars
	- var bodyClass = 'children'
block content
	main.main-content.landings.children.main-content__top-padding
		section.chess-layout
			.chess-layout__row
				.chess-layout__item.landings-chess__item
					.landings-chess__content
						h2.landings-chess__title ДЕНЬ РОЖДЕНИЯ в Мир Пицца
						ul
							li Компания «Мир Пиццы» приглашает вас и ваших детей весело и вкусно отпраздновать самый желанный праздник — День Рождения. Специально для наших маленьких гостей предусмотрена детская шоу программа с аниматорами и детскими героями Пиццариком и Пиццашей, а также вкусные угощения.
							li Подробные условия и стоимость вы можете уточнить у менеджера любого ресторана «Мир Пиццы».
							li А также, в наших ресторанах периодически проходят детские мастер классы по приготовлению пиццы. Ждем вас в гости! 
						a.btn.btn--red(href="#") Оставить заявку
				.chess-layout__item.landings-chess__item(style="background-image: url(img/ch1.jpg)")
			.chess-layout__row
				.chess-layout__item.landings-chess__item
					.landings-chess__content
						h2.landings-chess__title Мастер Класс в мир пицца
						ul
							li Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
							li Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
							li Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
						a.btn.btn--red(href="#") Оставить заявку
				.chess-layout__item.landings-chess__item(style="background-image: url(img/ch2.jpg)")


			section.landings__advantages
				.container
					.landings__advantages__inner
						h2.landings__advantages-title Фирменный комикс
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						.comics__list
							a(href="#")
								span Скачать комикс
							a(href="#")
								span Скачать Раскраску
						a.btn.btn--white(href="#") Заказать домой


			.chess-layout__row
				.chess-layout__item.landings-chess__item
					.landings-chess__content
						h2.landings-chess__title Наши герои
						p Знакомьтесь, это Пиццарик, Пиццаша и кот Анчоус. Пиццарики — это родные брат и сестра, озорные мальчик и девочка, которые не представляют свою жизнь без пиццы и веселых приключений. Несмотря, на свой юный возраст, малыши являются настоящими экспертами в области пиццы. Они знают множество рецептов, умеют, и самое главное, обожают готовить и угощать пиццей всех своих друзей. Пиццарик и Пиццаша очень дружелюбные, веселые и открытые миру карапузы. Путешествуя по миру, в поисках новых рецептов любимого лакомства, Пиццарик и Пиццаша знакомятся с компанией Мир Пиццы, которая любит и умеет готовить пиццу не хуже озорников. Так начинается крепкая дружба Мира Пиццы и Пиццариков. Вместе, эта веселая компашка разрабатывает лучшие рецепты вкуснейшей пиццы, и продолжает свое любимое дело — радовать и веселить тысячи детей!
				.chess-layout__item.landings-chess__item(style="background-image: url(img/ch3.jpg)")
			.chess-layout__row
				.chess-layout__item.landings-chess__item
					.landings-chess__content
						h2.landings-chess__title ПРИВЕТ! Я ПИЦЦАРИК, ДАВАЙТЕ ЗНАКОМИТЬСЯ!
						p Привет! Меня зовут Пиццарик, и я знаю о пицце все! Каждый день мы с Пиццашей изобретаем рецепты самой вкусной пиццы. Но, как и все девочки, она слишком увлечена модой. Поэтому в нашей кулинарной лаборатории постоянно нахожусь я и мой друг — кот Анчоус! Мы уже попробовали много разных пицц и готовы угостить ими тебя. Приходи к нам в гости! Будем дружить, и кушать вкусную пиццу!
				.chess-layout__item.landings-chess__item(style="background-image: url(img/ch4.jpg)")
			.chess-layout__row
				.chess-layout__item.landings-chess__item
					.landings-chess__content
						h2.landings-chess__title ПРИВЕТ! Я ПИЦЦАША, ДАВАЙТЕ ЗНАКОМИТЬСЯ!
						p Привет! Меня зовут Пиццаша. Я обожаю все модное, яркое, вкусное и, конечно же, Пиццу. Вместе с братиком Пиццариком мы постоянно придумываем новые рецепты вкусненькой пиццы. У меня есть вкусы на любой случай. У тебя не задался день в школе? Попробуй гавайскую пиццу. Ты не выспалась и лень делать зарядку? Подкрепись куриной пиццей. Настроение супер и хочется дарить друзьям радость! Самое время угостить их пиццей Дольче. Давай дружить, и я расскажу тебе еще много всего интересного!
						p А здесь я живу. Приходите в гости!
				.chess-layout__item.landings-chess__item(style="background-image: url(img/ch5.jpg)")
			


block inlineScripts