extends _layout
block content
	main.main-content.events
		.landings-top(style="background-image: url(img/events-bg.jpg)")
			.container
				.landings-top__inner
					a.event-announce.cf(href="#")
						.event-announce__date
							span.event-announce__date-day 29
							span.event-announce__date-month авг. 2017
						.event-announce__title.at-top Lorem ipsum dolor amet, consectetur adipiscing elit sed
		.events__wrapper
			.container
				.events__header
					h1.events__title События
					ul.events__filter
						li.active.default-link ВСЕ
						li.default-link Предстоящие
						li.default-link Прошедшие
				.events__list
					a.events__item(href="#")
						.events__item-content
							.events__item-inner
								.event-announce.cf
									.event-announce__date
										span.event-announce__date-day 29
										span.event-announce__date-month авг. 2017
									.event-announce__title «Мир пиццы» отмечает день рождения – 14 лет!
						.events__item-img(style="background-image: url(img/event1.jpg)")
					a.events__item(href="#")
						.events__item-content
							.events__item-inner
								.event-announce.cf
									.event-announce__date
										span.event-announce__date-day 30
										span.event-announce__date-month авг. 2017
									.event-announce__title Открытие нового ресторана в ТЦ «Жар птица»
						.events__item-img(style="background-image: url(img/event2.jpg)")
					a.events__item(href="#")
						.events__item-content
							.events__item-inner
								.event-announce.cf
									.event-announce__date
										span.event-announce__date-day 14
										span.event-announce__date-month янв. 2017
									.event-announce__title Открытие нового ресторана Мир Пиццы
						.events__item-img(style="background-image: url(img/event3.jpg)")
					a.events__item(href="#")
						.events__item-content
							.events__item-inner
								.event-announce.cf
									.event-announce__date
										span.event-announce__date-day 30
										span.event-announce__date-month ноя. 2017
									.event-announce__title «Мир Пиццы» на дне рождения ТРЦ «Фантастика»
						.events__item-img(style="background-image: url(img/event4.jpg)")
					a.events__item(href="#")
						.events__item-content
							.events__item-inner
								.event-announce.cf
									.event-announce__date
										span.event-announce__date-day 29
										span.event-announce__date-month авг. 2017
									.event-announce__title «Мир пиццы» отмечает день рождения – 14 лет!
						.events__item-img(style="background-image: url(img/event1.jpg)")
					a.events__item(href="#")
						.events__item-content
							.events__item-inner
								.event-announce.cf
									.event-announce__date
										span.event-announce__date-day 30
										span.event-announce__date-month авг. 2017
									.event-announce__title Открытие нового ресторана в ТЦ «Жар птица»
						.events__item-img(style="background-image: url(img/event2.jpg)")
					a.events__item(href="#")
						.events__item-content
							.events__item-inner
								.event-announce.cf
									.event-announce__date
										span.event-announce__date-day 14
										span.event-announce__date-month янв. 2017
									.event-announce__title Открытие нового ресторана Мир Пиццы
						.events__item-img(style="background-image: url(img/event3.jpg)")
					a.events__item(href="#")
						.events__item-content
							.events__item-inner
								.event-announce.cf
									.event-announce__date
										span.event-announce__date-day 30
										span.event-announce__date-month ноя. 2017
									.event-announce__title «Мир Пиццы» на дне рождения ТРЦ «Фантастика»
						.events__item-img(style="background-image: url(img/event4.jpg)")
					a.events__item(href="#")
						.events__item-content
							.events__item-inner
								.event-announce.cf
									.event-announce__date
										span.event-announce__date-day 29
										span.event-announce__date-month авг. 2017
									.event-announce__title «Мир пиццы» отмечает день рождения – 14 лет!
						.events__item-img(style="background-image: url(img/event1.jpg)")
					a.events__item(href="#")
						.events__item-content
							.events__item-inner
								.event-announce.cf
									.event-announce__date
										span.event-announce__date-day 30
										span.event-announce__date-month авг. 2017
									.event-announce__title Открытие нового ресторана в ТЦ «Жар птица»
						.events__item-img(style="background-image: url(img/event2.jpg)")
					a.events__item(href="#")
						.events__item-content
							.events__item-inner
								.event-announce.cf
									.event-announce__date
										span.event-announce__date-day 14
										span.event-announce__date-month янв. 2017
									.event-announce__title Открытие нового ресторана Мир Пиццы
						.events__item-img(style="background-image: url(img/event3.jpg)")
					a.events__item(href="#")
						.events__item-content
							.events__item-inner
								.event-announce.cf
									.event-announce__date
										span.event-announce__date-day 30
										span.event-announce__date-month ноя. 2017
									.event-announce__title «Мир Пиццы» на дне рождения ТРЦ «Фантастика»
						.events__item-img(style="background-image: url(img/event4.jpg)")
					a.events__item(href="#")
						.events__item-content
							.events__item-inner
								.event-announce.cf
									.event-announce__date
										span.event-announce__date-day 29
										span.event-announce__date-month авг. 2017
									.event-announce__title «Мир пиццы» отмечает день рождения – 14 лет!
						.events__item-img(style="background-image: url(img/event1.jpg)")
					a.events__item(href="#")
						.events__item-content
							.events__item-inner
								.event-announce.cf
									.event-announce__date
										span.event-announce__date-day 30
										span.event-announce__date-month авг. 2017
									.event-announce__title Открытие нового ресторана в ТЦ «Жар птица»
						.events__item-img(style="background-image: url(img/event2.jpg)")
					a.events__item(href="#")
						.events__item-content
							.events__item-inner
								.event-announce.cf
									.event-announce__date
										span.event-announce__date-day 14
										span.event-announce__date-month янв. 2017
									.event-announce__title Открытие нового ресторана Мир Пиццы
						.events__item-img(style="background-image: url(img/event3.jpg)")
					a.events__item(href="#")
						.events__item-content
							.events__item-inner
								.event-announce.cf
									.event-announce__date
										span.event-announce__date-day 30
										span.event-announce__date-month ноя. 2017
									.event-announce__title «Мир Пиццы» на дне рождения ТРЦ «Фантастика»
						.events__item-img(style="background-image: url(img/event4.jpg)")




block inlineScripts