extends _layout
block content
	main.main-content.landings
		.landings-top(style="background-image: url(img/franchising-top.jpg)")
			.landings-top__inner
				h1.landings__title.bordered-title Франчайзинг
				p.landings__description (Персонал + Технологии) х Любовь к Клиентам = Объем продаж. Формула успеха нашей Компании – это вкусный продукт, приготовленный опытным персоналом с использованием уникальных авторских технологий, пропитанный любовью к нашим гостям. И конечно же, «Мир Пиццы» – это широкий ассортимент и демократичные цены.
				a.btn.btn--inverted(href="#") ОСТАВИТЬ ЗАЯВКУ
		section.landings__advantages
			.container
				.landings__advantages__inner
					h2.landings__advantages-title НАШИ ПРЕИМУЩЕСТВА
					.franchising__advantages-list.landings__advantages-list
						.franchising__advantages-item.landings__advantages-item
							.landings__advantages-item--icon(style="background-image: url(img/fr1.png)")
							p.landings__advantages-item--title 14 лет на рынке
						.franchising__advantages-item.landings__advantages-item
							.landings__advantages-item--icon(style="background-image: url(img/fr2.png)")
							p.landings__advantages-item--title Собственная программа лояльности
						.franchising__advantages-item.landings__advantages-item
							.landings__advantages-item--icon(style="background-image: url(img/fr3.png)")
							p.landings__advantages-item--title Собственный тренинг центр для обучения
						.franchising__advantages-item.landings__advantages-item
							.landings__advantages-item--icon(style="background-image: url(img/fr4.png)")
							p.landings__advantages-item--title Полностью отлаженный бизнес
						.franchising__advantages-item.landings__advantages-item
							.landings__advantages-item--icon(style="background-image: url(img/fr5.png)")
							p.landings__advantages-item--title Высокое качество продукции
						.franchising__advantages-item.landings__advantages-item
							.landings__advantages-item--icon(style="background-image: url(img/fr6.png)")
							p.landings__advantages-item--title Полная поддержка франчайзи
						.franchising__advantages-item.landings__advantages-item
							.landings__advantages-item--icon(style="background-image: url(img/fr7.png)")
							p.landings__advantages-item--title Высокая доходность
						.franchising__advantages-item.landings__advantages-item
							.landings__advantages-item--icon(style="background-image: url(img/fr8.png)")
							p.landings__advantages-item--title Поставщики сырья с лучшими условиями
						.franchising__advantages-item.landings__advantages-item
							.landings__advantages-item--icon(style="background-image: url(img/fr9.png)")
							p.landings__advantages-item--title Собственная инфо. система
						.franchising__advantages-item.landings__advantages-item
							.landings__advantages-item--icon(style="background-image: url(img/fr10.png)")
							p.landings__advantages-item--title Быстрая и качественная доставка
		section.chess-layout
			.chess-layout__row
				.chess-layout__item.landings-chess__item
					.landings-chess__content
						h2.landings-chess__title ГАРАНТИЯ КАЧЕСТВА
						ul
							li На протяжении 14 лет «Мир Пиццы» предлагает широкий ассортимент пиццы. Меню постоянно обновляется, и вместе с «Мир Пиццы» клиентам не приходится скучать как за обеденным так и за праздничным столом. Увеличение количества ресторанов диктует жестко контролировать качество продукции. Мы используем только свежие, натуральные компоненты в приготовлении пиццы и других блюд. Все поставщики продукции – это надёжные, проверенные партнёры. Мы привлекаем независимые лаборатории для проверки качества продукции на всех этапах с момента поступления сырья до отпуска продукции гостю. Это гарантирует истинный вкус и качество сети ресторанов «Мир Пиццы».
							li В центре нашей работы-информационно-электронная система управления пиццерией. Ее создали, поддерживают и развивают разработчики «Мир Пиццы», опираясь на    опыт наших пиццерий.
							li У нас единый федеральный колл-центр и сайт, заказы из которого напрямую попадают к франчайзи.
							li Мы осуществляем авторский надзор за реализацией проекта.
				.chess-layout__item.landings-chess__item(style="background-image: url(img/fr-c1.jpg)")
			.chess-layout__row
				.chess-layout__item.landings-chess__item
					.landings-chess__content
						h2.landings-chess__title ОБУЧЕНИЕ И ПОДДЕРЖКА
						ul
							li Предоставление разработанных регламентов управления и взаимодействия.
							li Предоставление пакета внутренних документов, в т.ч. бизнес-процессы, облегчающие работу с любым уровнем подготовки франчайзи.
							li Передача технологий приготовления блюд.
							li Профессиональный анализ региона.
							li Предоставление готовой бизнес системы Компании, успешно работающей на уровне мировых стандартов.
							li Обучение персонала в собственном учебном центре со стажировкой в ресторане.
							li Предоставление учебных материалов для внутреннего обучения и развития персонала.
							li Оказание консультационных услуг в создании дизайн-проекта ресторана.
							li Предоставление «летучей команды» на открытие ресторана.
							li Наши партнеры присоединены к уникальной системе управления, которая позволяет привлекать новых гостей, делать их постоянными, анализировать их потребности и управлять лояльностью к нашей пиццерии.
				.chess-layout__item.landings-chess__item(style="background-image: url(img/fr-c2.jpg)")
			.chess-layout__row
				.chess-layout__item.landings-chess__item
					.landings-chess__content
						h2.landings-chess__title ЦИФРЫ
						ul
							li
								h6 от 12 до 24 месяцев
								| окупаемость проекта
							li
								h6 Роялти – 3,5% от оборота
								| индивидуальный подход к каждому клиенту
							li
								h6 1 200 000 руб.
								|  базовая ставка паушального взноса
							li
								h6 Маркетинговые взносы отсутствуют
							li
								h6 Скидка 50%
								| действует прямо сейчас
				.chess-layout__item.landings-chess__item(style="background-image: url(img/fr-c3.jpg)")
			.chess-layout__row
				.chess-layout__item.landings-chess__item
					.landings-chess__content
						h2.landings-chess__title ТРЕБОВАНИЯ К ПОМЕЩЕНИЮ
						ul
							li
								h6 90-200 м2
								| требуемая площадь
							li Размещение ресторана — первые этажи Street retail «красная линия», красная линия, проходные места с хорошим авто и пешеходным трафиком.
							li Торгово Развлекательные Центры
							li Технические требования: вода, канализация, электроэнергия, вентиляция, кондиционирование, отопление, потолки не ниже 3,0–3,5 м
							li Мощность электроэнергии — от 35 кВт.
				.chess-layout__item.landings-chess__item(style="background-image: url(img/fr-c4.jpg)")
		section.contact__section
			.container
				h2.contact__section-title Обратная Связь
				.contact__section-inner.center-align
					form(@submit.prevent="simpleFormSend")
						.contact__section-form--row
							span
								input.contact__section-form--input(type="text" placeholder="Имя" data-parsley-required="true")
							span
								input.contact__section-form--input(type="tel" placeholder="Телефон" data-parsley-required="true" data-parsley-validatephone)
							span
								input.contact__section-form--input(type="email" placeholder="Email")
						textarea.contact__section-form--input(placeholder="Сообщение")
						input.btn(type="submit" value="Отправить")




block inlineScripts