extends _layout
block vars
block content
	main.main-content.cart.main-content__top-padding
		.container
			h1.cart__title.uppercase Личный кабинет
			a.open-popup(href="#comics" style="color:#fff; margin-right: 15px;") Заказать комикс
			a.open-popup(href="#master-class" style="color:#fff; margin-right: 15px;") Мастер класс
			a.open-popup(href="#birthday" style="color:#fff; margin-right: 15px;") День рождения
			a.open-popup(href="#success" style="color:#fff; margin-right: 15px;") Сообщение отправлено
			.cabinet
				form.cabinet__col.cabinet__col--info.js--form(@submit.prevent="saveNewInfo")
					a.cabinet__col-title.cabinet__col-title--editable(href="#" @click.prevent="setDefaultInfo") Основная информация:
					.delivery__row
						span.delivery__label Имя:
						input.delivery__input(type="text" v-bind:value="userInfo.userName" v-bind:disabled="!cabinet.editInfo || cabinet.isLoading" v-model="userInfo.editedInfo.userName" data-parsley-required="true")
					.delivery__row
						span.delivery__label Телефон:
						span.delivery__input-tel--wrapper
							input.delivery__input.delivery__input-tel(type="tel" 
							v-bind:value="userInfo.userPhoneNumber" 
							v-bind:disabled="!cabinet.editInfo || cabinet.isLoading" 
							v-model="userInfo.editedInfo.userPhoneNumber" data-parsley-required="true"
							v-input-mask="true"
							data-inputmask="'mask': '+7 (999) 999-99-99'"
							data-parsley-validatephone)
					.delivery__row
						span.delivery__label Email:
						span.delivery__input--wrapper
							input.delivery__input(type="email" v-bind:value="userInfo.email" v-bind:disabled="!cabinet.editInfo || cabinet.isLoading" v-model="userInfo.editedInfo.email" data-parsley-required="true")
					.delivery__row.cabinet__edit-submit(v-if="cabinet.editInfo")
						input.btn.cabinet__edit-submit(type="submit" value="Сохранить" v-bind:disabled="cabinet.isLoading")
				.cabinet__col.cabinet__col--pizzennts
					span.cabinet__col-title.cabinet__col-title--info Пицценты:
					p.cabinet__col--pizzents-count 300 PZ.
					p.cabinet__col--pizzents-note Необходимо использовать до: 1.09. 2017
					a.cabinet__col--pizzents-link.default-link(href="#") 
						span Бесплатные пицценты
				form.cabinet__col.cabinet__col-large.cabinet__col__addresses.js--form(@submit.prevent="saveAddress")
					a.cabinet__col-title.cabinet__col-title--editable(href="#" @click.prevent="cabinet.editAddress = !cabinet.editAddress" key="cabinet.editAddress") Адрес доставки:
					template(v-if="userInfo.savedAddresses && userInfo.savedAddresses.length")
						.cabinet__col__addresses-list
							.cabinet__col__addresses-item(v-for="(address, index) in userInfo.savedAddresses" key="index") г. {{address.city}}, ул. {{address.street}} {{address.house}} 
								template(v-if="address.building"),  корп. {{address.building}}
								template(v-if="address.apartment"),  кв. {{address.apartment}}
								a(href="#" @click.prevent="removeAddress(index)")
					template(v-else)
						.cabinet__col__addresses-list.cabinet__col__addresses-list--empty
							span Нет сохраненных адресов, но Вы можете 
								a(href="#" @click.prevent="cabinet.editAddress = !cabinet.editAddress") добавить адрес
					.cabinet__col--form(v-if="cabinet.editAddress")
						.cabinet__col--form__heading Добавить адрес: 
							.custom-select__wrapper.item__option
								select.custom-select(v-model="userInfo.newAddress.city" v-bind:disabled="cabinet.isLoading")
									option(v-for="singleCity in restaurants") {{ singleCity.city }}
								select.custom-select--compute
									option.custom-select--compute-value(value="")
						.cabinet__col--add-address
							.cabinet__col--add-address-item
								span Улица
								input.delivery__input.delivery__input--street(type="text" v-model="userInfo.newAddress.street" v-bind:disabled="cabinet.isLoading" data-parsley-required="true")
							.cabinet__col--add-address-item
								span Дом
								input.delivery__input(type="text" v-model="userInfo.newAddress.house" v-bind:disabled="cabinet.isLoading" data-parsley-required="true")
							.cabinet__col--add-address-item
								span Корп
								input.delivery__input(type="text" v-model="userInfo.newAddress.building" v-bind:disabled="cabinet.isLoading")
							.cabinet__col--add-address-item
								span Кв
								input.delivery__input(type="text" v-model="userInfo.newAddress.apartment" v-bind:disabled="cabinet.isLoading")
						input.btn(type="submit" value="Сохранить" v-bind:disabled="cabinet.isLoading")
				form.cabinet__col.cabinet__col-large.cabinet__col--info(@submit.prevent="saveNewPassword")
					a.cabinet__col-title.cabinet__col-title--editable(href="#" @click.prevent="cabinet.editPass = !cabinet.editPass") Смена пароля:
					.delivery__row
						span.delivery__label Текущий пароль:
						span.delivery__input--wrapper
							input.delivery__input(type="password" v-bind:disabled="!cabinet.editPass || cabinet.isLoading" v-model="userInfo.editedPassword.oldPassword" data-parsley-required="true")
					.delivery__row
						span.delivery__label Новый пароль:
						span.delivery__input-tel--wrapper
							input#password1.delivery__input.delivery__input-tel(type="password" v-bind:disabled="!cabinet.editPass || cabinet.isLoading" v-model="userInfo.editedPassword.newPassword" data-parsley-minlength="6" data-parsley-required="true")
					.delivery__row
						span.delivery__label Повторить пароль:
						span.delivery__input--wrapper
							input.delivery__input(type="password" v-bind:disabled="!cabinet.editPass || cabinet.isLoading" v-model="userInfo.editedPassword.repeatNewPassword" data-parsley-minlength="6" data-parsley-equalto="#password1" data-parsley-required="true")
					.delivery__row.cabinet__edit-submit(v-if="cabinet.editPass")
						input.btn.cabinet__edit-submit(type="submit" value="Сохранить" v-bind:disabled="cabinet.isLoading")
			.lk__history
				h3.lk__history-title История покупок
				.lk__history-container
					.lk__history-col
						.lk__history-item
							.lk__history-item-title 
								span.date 30 декабря 2016 г. 
								span.separator | 
								span.address г. Нижний Новгород, просп. Ленина, 100, кв. 100
							ul.cart__list.cart__list-ordered.lk__history-list
								li.cart__item
									.cart__item-img
										a.zoom-img(href="img/pizza1.jpg" style="background-image: url(img/pizza1.jpg)")
											img.item__img-zoom--helper(src="img/roll1.jpg", alt="")
									.cart__item-content.cart__item-content--ordered
										p.cart__item-title Мексиканаская
										p.cart__item-description Острая пицца, с сыром Моцарелла, салями, беконом, болгарским перцем и чили, луком и маслинами.
										.cart__item-supplements.cart__item-supplements--ordered
											span Сыр 70 
												span.rouble З
											span Ветчина 70 
												span.rouble З
									.cart__item-price
										p.item__price-number 13750 
											span.rouble З
								li.cart__item
									.cart__item-img
										a.zoom-img(href="img/pizza1.jpg" style="background-image: url(img/pizza1.jpg)")
											img.item__img-zoom--helper(src="img/roll1.jpg", alt="")
									.cart__item-content.cart__item-content--ordered
										p.cart__item-title Мексиканаская
										p.cart__item-description Острая пицца, с сыром Моцарелла, салями, беконом, болгарским перцем и чили, луком и маслинами.
										.cart__item-supplements.cart__item-supplements--ordered
											span Сыр 70 
												span.rouble З
											span Ветчина 70 
												span.rouble З
									.cart__item-price
										p.item__price-number 13750 
											span.rouble З
								li.cart__item 
									a.btn.lk__history-reorder(href="#") Повторить
									p.lk__history-total 570 
										span.rouble З
						.lk__history-item
							.lk__history-item-title 
								span.date 30 декабря 2016 г. 
								span.separator | 
								span.address г. Нижний Новгород, просп. Ленина, 100, кв. 100
							ul.cart__list.cart__list-ordered.lk__history-list
								li.cart__item
									.cart__item-img
										a.zoom-img(href="img/pizza1.jpg" style="background-image: url(img/pizza1.jpg)")
											img.item__img-zoom--helper(src="img/roll1.jpg", alt="")
									.cart__item-content.cart__item-content--ordered
										p.cart__item-title Мексиканаская
										p.cart__item-description Острая пицца, с сыром Моцарелла, салями, беконом, болгарским перцем и чили, луком и маслинами.
										.cart__item-supplements.cart__item-supplements--ordered
											span Сыр 70 
												span.rouble З
											span Ветчина 70 
												span.rouble З
									.cart__item-price
										p.item__price-number 13750 
											span.rouble З
								li.cart__item 
									a.btn.lk__history-reorder(href="#") Повторить
									p.lk__history-total 570 
										span.rouble З
					.lk__history-col
						.lk__history-item
							.lk__history-item-title 
								span.date 30 декабря 2016 г. 
								span.separator | 
								span.address г. Нижний Новгород, просп. Ленина, 100, кв. 100
							ul.cart__list.cart__list-ordered.lk__history-list
								li.cart__item
									.cart__item-img
										a.zoom-img(href="img/pizza1.jpg" style="background-image: url(img/pizza1.jpg)")
											img.item__img-zoom--helper(src="img/roll1.jpg", alt="")
									.cart__item-content.cart__item-content--ordered
										p.cart__item-title Мексиканаская
										p.cart__item-description Острая пицца, с сыром Моцарелла, салями, беконом, болгарским перцем и чили, луком и маслинами.
										.cart__item-supplements.cart__item-supplements--ordered
											span Сыр 70 
												span.rouble З
											span Ветчина 70 
												span.rouble З
									.cart__item-price
										p.item__price-number 13750 
											span.rouble З
								li.cart__item 
									a.btn.lk__history-reorder(href="#") Повторить
									p.lk__history-total 570 
										span.rouble З
						.lk__history-item
							.lk__history-item-title 
								span.date 30 декабря 2016 г. 
								span.separator | 
								span.address г. Нижний Новгород, просп. Ленина, 100, кв. 100
							ul.cart__list.cart__list-ordered.lk__history-list
								li.cart__item
									.cart__item-img
										a.zoom-img(href="img/pizza1.jpg" style="background-image: url(img/pizza1.jpg)")
											img.item__img-zoom--helper(src="img/roll1.jpg", alt="")
									.cart__item-content.cart__item-content--ordered
										p.cart__item-title Мексиканаская
										p.cart__item-description Острая пицца, с сыром Моцарелла, салями, беконом, болгарским перцем и чили, луком и маслинами.
										.cart__item-supplements.cart__item-supplements--ordered
											span Сыр 70 
												span.rouble З
											span Ветчина 70 
												span.rouble З
									.cart__item-price
										p.item__price-number 13750 
											span.rouble З
								li.cart__item
									.cart__item-img
										a.zoom-img(href="img/pizza1.jpg" style="background-image: url(img/pizza1.jpg)")
											img.item__img-zoom--helper(src="img/roll1.jpg", alt="")
									.cart__item-content.cart__item-content--ordered
										p.cart__item-title Мексиканаская
										p.cart__item-description Острая пицца, с сыром Моцарелла, салями, беконом, болгарским перцем и чили, луком и маслинами.
										.cart__item-supplements.cart__item-supplements--ordered
											span Сыр 70 
												span.rouble З
											span Ветчина 70 
												span.rouble З
									.cart__item-price
										p.item__price-number 13750 
											span.rouble З
								li.cart__item 
									a.btn.lk__history-reorder(href="#") Повторить
									p.lk__history-total 570 
										span.rouble З
		form#register.zoom-anim-dialog.mfp-hide.popup(@submit.prevent="register")
			.popup__inner(v-bind:class="{ loading: cabinet.isLoading }")
				p.popup__heading Регистрация
				.popup__block
					p.popup__block-title Обязательные поля:
					.popup__layout
						label.popup__label Имя
							input.popup__input(type="text" data-parsley-required="true")
						label.popup__label Телефон
							input.popup__input(type="tel" placeholder="+7" data-parsley-required="true" data-parsley-validatephone)
						label.popup__label Email
							input.popup__input(type="email" data-parsley-required="true")
						label.popup__label Город
							select.popup__input
								option(value="1") Нижний Новгород
								option(value="2") Москва
								option(value="3") Краснодар
						label.popup__label Пароль
							input.popup__input#regpass1(type="password" data-parsley-required="true" data-parsley-minlength="6")
						label.popup__label Подтвердите пароль
							input.popup__input(type="password" data-parsley-required="true" data-parsley-minlength="6" data-parsley-equalto="#regpass1")
						label.popup__label Дата рождения
							input.popup__input.datepicker(type="text")
						.popup__label.popup__checkbox--wrapper
							input.popup__agree.popup__checkbox.popup__hidden-inputs(type="checkbox" id="agree" name="agree" data-parsley-required="true")
							label.popup__agreement.popup__checkbox-label(for="agree") Принимаю условия 
							a.view-agreement(href="#" target="_blank") пользовательского  соглашения.
				.popup__block
					p.popup__block-title Не обязательные поля:
					p.popup__block-subtitle Адрес проживания:
					.popup__layout
						label.popup__label Улица
							input.popup__input(type="text")
						.popup__label.small-labels
							label.popup__label Дом
								input.popup__input(type="text")
							label.popup__label Корп.
								input.popup__input(type="text")
							label.popup__label Кв.
								input.popup__input(type="text")
				.popup__block
					p.popup__block-subtitle Дети:
					div
						.popup__row
							p.popup__row-item Есть ли у вас дети?
							.popup__row-item
								input.popup__hidden-inputs(type="radio" name="childs" id="have-child" v-bind:value="true" v-bind:checked="showChilds" v-model="showChilds")
								label.popup__input-label.popup__input-label--radio(for="have-child") Да
							.popup__row-item
								input.popup__hidden-inputs(type="radio" name="childs" id="no-child" v-bind:value="false" v-model="showChilds")
								label.popup__input-label.popup__input-label--radio(for="no-child") Нет
							.popup__row-item(v-if="showChilds")
								input.popup__hidden-inputs(type="checkbox" name="gender-male" id="gender-male")
								label.popup__input-label(for="gender-male") Мальчик
							.popup__row-item(v-if="showChilds")
								input.popup__hidden-inputs(type="checkbox" name="gender-female" id="gender-female")
								label.popup__input-label(for="gender-female") Девочка
					.popup__row.popup__row-flex(v-if="showChilds")
						p.popup__row-item.popup__row-item__title Дата рождения ребённка:
						.popup__row-item.popup__row-item--half
							.popup__row-item--half-inner
								.popup__row-item
									label.popup__label День
										input.popup__input(type="text" v-model.number="childsArr[0].day")
								.popup__row-item
									label.popup__label Месяц
										input.popup__input(type="text" v-model.number="childsArr[0].month")
								.popup__row-item
									label.popup__label Год
										input.popup__input(type="text" v-model.number="childsArr[0].year")
								.popup__row-item
									a.add-child.child-control(href="#" @click.prevent="addChild")
							div(v-if="childsArr.length > 1")
								.popup__row-item--half-inner(v-for="(child, i) in childsArr" v-bind:key="i" v-if="!$first(child, childsArr)")
									.popup__row-item
										label.popup__label День
											input.popup__input(type="text" v-model.number="child.day")
									.popup__row-item
										label.popup__label Месяц
											input.popup__input(type="text" v-model.number="child.month")
									.popup__row-item
										label.popup__label Год
											input.popup__input(type="text" v-model.number="child.year")
									.popup__row-item
										a.remove-child.child-control(href="#" @click.prevent="removeChild(i)")
				.popup__block.popup__submit
					.popup__submit-row
						.popup__submit-col
							p Мы гарантируем конфиденциальность ваших персональных данных.
						.popup__submit-col.popup__submit-col--btn
							input.btn.btn--red(type="submit" value="Отправить")
		form#comics.zoom-anim-dialog.mfp-hide.popup(@submit.prevent="comicsPopup")
			.popup__inner(v-bind:class="{ loading: cabinet.isLoading }")
				p.popup__heading Заказать комикс
				p.popup__subheading Заполнив данную форму, вы соглашаетесь на получение (в ваш почтовый ящик) свежих выпусков комиксов про приключения наших детских героев.
				.popup__block
					.popup__layout
						label.popup__label Имя
							input.popup__input(type="text" data-parsley-required="true")
						label.popup__label Фамилия
							input.popup__input(type="text")
						label.popup__label Телефон
							input.popup__input(type="tel" placeholder="+7" data-parsley-required="true" data-parsley-validatephone)
						label.popup__label Город
							select.popup__input
								option(value="1") Нижний Новгород
								option(value="2") Москва
								option(value="3") Краснодар
				.popup__block
					.popup__flex
						label.popup__label Индекс
							input.popup__input(type="text")
						label.popup__label.popup__label-street Улица
							input.popup__input(type="text")
						label.popup__label Дом
							input.popup__input(type="text")
						label.popup__label Кв.
							input.popup__input(type="text")
				.popup__block.popup__submit
					.popup__submit-row
						.popup__submit-col
							p Мы гарантируем конфиденциальность ваших персональных данных.
						.popup__submit-col.popup__submit-col--btn
							input.btn.btn--red(type="submit" value="Отправить")
		form#master-class.zoom-anim-dialog.mfp-hide.popup(@submit.prevent="masterClassPopup")
			.popup__inner(v-bind:class="{ loading: cabinet.isLoading }")
				p.popup__heading Оставить заявку
				.popup__block
					.popup__layout
						label.popup__label Имя
							input.popup__input(type="text" data-parsley-required="true")
						label.popup__label Телефон
							input.popup__input(type="tel" placeholder="+7" data-parsley-required="true" data-parsley-validatephone)
						label.popup__label Ресторан
							select.popup__input
								option(value="1") Нижний Новгород
								option(value="2") Москва
								option(value="3") Краснодар
						.popup__label
							.popup__flex.popup__flex--date
								label.popup__label Дата
									input.popup__input.datepicker(type="text")
								.popup__label.popup__flex-date Время (с/до)
									.popup__flex-date-row
										select.popup__input
											option(value="1") 10:00
											option(value="2") 11:00
											option(value="3") 12:00
										select.popup__input
											option(value="1") 10:00
											option(value="2") 11:00
											option(value="3") 12:00
				.popup__block
					.popup__layout
						.popup__label.popup__guests Приблизительное количество гостей на празднике:
						.popup__label.small-labels.popup__guests-input
							label.popup__label взрослых
								input.popup__input(type="text")
							label.popup__label мальчиков
								input.popup__input(type="text")
							label.popup__label девочек
								input.popup__input(type="text")
				.popup__block
					.popup__row
						.popup__row-item Наполнение праздника:
						input.popup__hidden-inputs(type="checkbox" name="toy" id="toy")
						label.popup__input-label.popup__row-item(for="toy") Ростовая кукла
				.popup__block.popup__submit
					.popup__submit-row
						.popup__submit-col
							p После отправки формы, наши менеджеры свяжутся с вами в ближайшее время для согласования заказа.
						.popup__submit-col.popup__submit-col--btn
							input.btn.btn--red(type="submit" value="Отправить")


		form#birthday.zoom-anim-dialog.mfp-hide.popup(@submit.prevent="birthdayPopup")
			.popup__inner(v-bind:class="{ loading: cabinet.isLoading }")
				p.popup__heading Оставить заявку
				.popup__block
					.popup__layout
						label.popup__label Имя
							input.popup__input(type="text" data-parsley-required="true")
						label.popup__label Телефон
							input.popup__input(type="tel" placeholder="+7" data-parsley-required="true" data-parsley-validatephone)
						label.popup__label Ресторан
							select.popup__input
								option(value="1") Нижний Новгород
								option(value="2") Москва
								option(value="3") Краснодар
						.popup__label
							.popup__flex.popup__flex--date
								label.popup__label Дата
									input.popup__input.datepicker(type="text")
								.popup__label.popup__flex-date Время (с/до)
									.popup__flex-date-row
										select.popup__input
											option(value="1") 10:00
											option(value="2") 11:00
											option(value="3") 12:00
										select.popup__input
											option(value="1") 10:00
											option(value="2") 11:00
											option(value="3") 12:00
				.popup__block.popup__birthday__row
					.popup__layout
						.popup__label
							p Имя ребёнка / исполняется лет
							.popup__birthday__col
								input.popup__input(type="text")
								span / 
								input.popup__input.popup__birthday__age(type="text")
						.popup__label.popup__birthday__gender
							p.popup__row-item Пол ребенка
							.popup__row-item
								input.popup__hidden-inputs(type="radio" name="birthday-gender" id="birthday-gender-male")
								label.popup__input-label.popup__input-label--radio(for="birthday-gender-male") М
							.popup__row-item
								input.popup__hidden-inputs(type="radio" name="birthday-gender" id="birthday-gender-female")
								label.popup__input-label.popup__input-label--radio(for="birthday-gender-female") Д

				.popup__block
					.popup__layout
						.popup__label.popup__guests Приблизительное количество гостей на празднике:
						.popup__label.small-labels.popup__guests-input
							label.popup__label взрослых
								input.popup__input(type="text")
							label.popup__label мальчиков
								input.popup__input(type="text")
							label.popup__label девочек
								input.popup__input(type="text")
				.popup__block
					p.popup__block-subtitle Наполнение праздника:
					.popup__row.popup__row-animators
						input.popup__hidden-inputs(type="radio" name="animators" id="animators-one" checked)
						label.popup__input-label.popup__row-item.popup__input-label--radio.popup__row-item--small-margin(for="animators-one") 1
						input.popup__hidden-inputs(type="radio" name="animators" id="animators-two")
						label.popup__input-label.popup__row-item.popup__input-label--radio.popup__row-item--small-margin(for="animators-two") 2
						.popup__label.animators__label аниматор(а)
						input.popup__hidden-inputs(type="checkbox" name="toy" id="toy")
						label.popup__input-label.popup__row-item(for="toy") Ростовая кукла
						input.popup__hidden-inputs(type="checkbox" name="master-class" id="master-class")
						label.popup__input-label.popup__row-item(for="master-class") Мастер-класс
				.popup__block.popup__submit
					.popup__submit-row
						.popup__submit-col
							p После отправки формы, наши менеджеры свяжутся с вами в ближайшее время для согласования заказа.
						.popup__submit-col.popup__submit-col--btn
							input.btn.btn--red(type="submit" value="Отправить")
		form#login.zoom-anim-dialog.mfp-hide.popup(@submit.prevent="login")
			.popup__inner(v-bind:class="{ loading: cabinet.isLoading }")
				p.popup__heading АВТОРИЗАЦИЯ
					.popup__block
						.popup__layout
							label.popup__label Email
								input.popup__input(type="email" data-parsley-required="true")
							label.popup__label Пароль
								input.popup__input(type="password" data-parsley-required="true")
							.popup__label
								input.popup__hidden-inputs(type="checkbox" name="remember" id="remember")
								label.popup__input-label.popup__row-item.popup__row-item--small-margin(for="remember") Запомнить меня
							.popup__label
								a.lost-pass(href="#") Забыли пароль?
						.center-align
							input.btn.btn--red.login-submit(type="submit" value="Войти")
		#success.zoom-anim-dialog.mfp-hide.popup__success.popup
			p Сообщение успешно отправлено




block inlineScripts
	script.
		vm.restaurants = [
			{
				city: "Нижний Новгород",
				districts: [
					{
						districtName: "Нижегородский",
						restaurants: [
							{
								placeName: "ТРЦ Фантастика",
								name: 'Миры Пиццы в ТРЦ Фантастика',
								address : 'ул. Нижегородский, 187; 2 эт., левое крыло',
								hours: '10:00–22:00',
								tel: '(831) 2-550-550',
								coords: [56.316540, 44.019612],
							},
							{
								placeName: "ТРЦ Шоколад",
								name: 'Миры Пиццы в ТРЦ Шоколад',
								address : 'ул. Шоколад, 187; 2 эт., левое крыло',
								hours: '10:00–20:00',
								tel: '(831) 2-440-440',
								coords: [56.307677, 44.074207],
							}
						]
					},

					{
						districtName: "Советский",
						restaurants: [
							{
								placeName: "ТРЦ на Советской",
								name: 'Миры Пиццы в ТРЦ Жар птица',
								address : 'пл. Советская, 187; 2 эт., левое крыло',
								hours: '12:00–22:00',
								tel: '(831) 2-220-220',
								coords: [56.296617, 44.041434],
							},
							{
								placeName: "ТРЦ на Бекетова",
								name: 'Миры Пиццы в ТРЦ Бекетов',
								address : 'ул. Бекетова, 187; 2 эт., левое крыло',
								hours: '12:00–22:00',
								tel: '(831) 2-220-220',
								coords: [56.292918, 44.012810],
							}
						]
					}
				],
			},

			{
				city: "Москва",
				districts: [
					{
						districtName: "Арбат",
						restaurants: [
							{
								placeName: "ТРЦ Арбат",
								name: 'Миры Пиццы в ТРЦ Фантастика',
								address : 'ул. Арбат, 187; 2 эт., левое крыло',
								hours: '10:00–22:00',
								tel: '(831) 2-550-550',
								coords: [56.316540, 44.019612],
							},
							{
								placeName: "ТРЦ Арбат 222",
								name: 'Миры Пиццы в ТРЦ Арбат 222',
								address : 'ул.  Арбат 222, 187; 2 эт., левое крыло',
								hours: '10:00–20:00',
								tel: '(831) 2-440-440',
								coords: [56.307677, 44.074207],
							}
						]
					},

					{
						districtName: "Алтуфьевский",
						restaurants: [
							{
								placeName: "ТРЦ на Алтуфьевский",
								name: 'Миры Пиццы в ТРЦ Жар птица',
								address : 'пл. Алтуфьевский, 187; 2 эт., левое крыло',
								hours: '12:00–22:00',
								tel: '(831) 2-220-220',
								coords: [56.296617, 44.041434],
							},
							{
								placeName: "ТРЦ на Алтуфьевский 222",
								name: 'Миры Пиццы в ТРЦ Бекетов',
								address : 'ул. Алтуфьевский 222, 187; 2 эт., левое крыло',
								hours: '12:00–22:00',
								tel: '(831) 2-220-220',
								coords: [56.292918, 44.012810],
							}
						]
					}
				],
			},
			{
				city: "Краснодар",
				districts: [
					{
						districtName: "Краснодарский",
						restaurants: [
							{
								placeName: "ТРЦ Краснодар",
								name: 'Миры Пиццы в ТРЦ Краснодар',
								address : 'ул. Краснодар, 187; 2 эт., левое крыло',
								hours: '10:00–22:00',
								tel: '(831) 2-550-550',
								coords: [56.316540, 44.019612],
							},
						]
					},
				],
			},
		]
		vm.userInfo.newAddress.city = 'Нижний Новгород'
		