extends _layout
block content
	main.main-content.landings.vacancies
		.landings-top(style="background-image: url(img/vacancies-top.jpg)")
			.landings-top__inner
				h1.landings__title.bordered-title Карьера
				p.landings__description Наша компания предоставляет рабочие места как для студентов‚ так и для менеджеров среднего и высшего звена. Гарантируем обучение‚ профессиональный рост сотрудников‚ стабильную заработную плату‚ полный социальный пакет. 
		section.container.vacancies__container
			.vacancies__list
				.vacancies__item
					.vacancies__item-top
						h2.vacancies__item-title Водитель-экспедитор
						a.btn.vacancies__item-link(href="#") Откликнуться
					.vacancies__item-body.cf
						.vacancies__item-body--col
							p Обязанности:
							ul
								li Доставка пиццы по городу.
							p Требования:
							ul
								li Стаж вождения от 2 лет,
								li Водительские права кат. B
						.vacancies__item-body--col
							p Мы предлагаем:
							ul
								li Трудоустройство по ТК
								li Социальный пакет
								li Бесплатное питание
								li Сменный график работы. Работа разъездного характера
					.vacancies__item-footer
						p Нижний Новгород, Павлово, Бор, Саров, Арзамас, Дзержинск
				.vacancies__item
					.vacancies__item-top
						h2.vacancies__item-title Водитель-экспедитор
						a.btn.vacancies__item-link(href="#") Откликнуться
					.vacancies__item-body.cf
						.vacancies__item-body--col
							p Обязанности:
							ul
								li Доставка пиццы по городу.
							p Требования:
							ul
								li Стаж вождения от 2 лет,
								li Водительские права кат. B
						.vacancies__item-body--col
							p Мы предлагаем:
							ul
								li Трудоустройство по ТК
								li Социальный пакет
								li Бесплатное питание
								li Сменный график работы. Работа разъездного характера
					.vacancies__item-footer
						p Нижний Новгород, Павлово, Бор, Саров, Арзамас, Дзержинск
				.vacancies__item
					.vacancies__item-top
						h2.vacancies__item-title Водитель-экспедитор
						a.btn.vacancies__item-link(href="#") Откликнуться
					.vacancies__item-body.cf
						.vacancies__item-body--col
							p Обязанности:
							ul
								li Доставка пиццы по городу.
							p Требования:
							ul
								li Стаж вождения от 2 лет,
								li Водительские права кат. B
						.vacancies__item-body--col
							p Мы предлагаем:
							ul
								li Трудоустройство по ТК
								li Социальный пакет
								li Бесплатное питание
								li Сменный график работы. Работа разъездного характера
					.vacancies__item-footer
						p Нижний Новгород, Павлово, Бор, Саров, Арзамас, Дзержинск
				.vacancies__item
					.vacancies__item-top
						h2.vacancies__item-title Водитель-экспедитор
						a.btn.vacancies__item-link(href="#") Откликнуться
					.vacancies__item-body.cf
						.vacancies__item-body--col
							p Обязанности:
							ul
								li Доставка пиццы по городу.
							p Требования:
							ul
								li Стаж вождения от 2 лет,
								li Водительские права кат. B
						.vacancies__item-body--col
							p Мы предлагаем:
							ul
								li Трудоустройство по ТК
								li Социальный пакет
								li Бесплатное питание
								li Сменный график работы. Работа разъездного характера
					.vacancies__item-footer
						p Нижний Новгород, Павлово, Бор, Саров, Арзамас, Дзержинск
				.vacancies__item
					.vacancies__item-top
						h2.vacancies__item-title Водитель-экспедитор
						a.btn.vacancies__item-link(href="#") Откликнуться
					.vacancies__item-body.cf
						.vacancies__item-body--col
							p Обязанности:
							ul
								li Доставка пиццы по городу.
							p Требования:
							ul
								li Стаж вождения от 2 лет,
								li Водительские права кат. B
						.vacancies__item-body--col
							p Мы предлагаем:
							ul
								li Трудоустройство по ТК
								li Социальный пакет
								li Бесплатное питание
								li Сменный график работы. Работа разъездного характера
					.vacancies__item-footer
						p Нижний Новгород, Павлово, Бор, Саров, Арзамас, Дзержинск
				.vacancies__item
					.vacancies__item-top
						h2.vacancies__item-title Водитель-экспедитор
						a.btn.vacancies__item-link(href="#") Откликнуться
					.vacancies__item-body.cf
						.vacancies__item-body--col
							p Обязанности:
							ul
								li Доставка пиццы по городу.
							p Требования:
							ul
								li Стаж вождения от 2 лет,
								li Водительские права кат. B
						.vacancies__item-body--col
							p Мы предлагаем:
							ul
								li Трудоустройство по ТК
								li Социальный пакет
								li Бесплатное питание
								li Сменный график работы. Работа разъездного характера
					.vacancies__item-footer
						p Нижний Новгород, Павлово, Бор, Саров, Арзамас, Дзержинск


		section.contact__section
			.container
				h2.contact__section-title Обратная Связь
				.contact__section-inner.center-align
					form(@submit.prevent="simpleFormSend")
						.contact__section-form--row
							span
								input.contact__section-form--input(type="text" placeholder="Имя" data-parsley-required="true")
							span
								input.contact__section-form--input(type="tel" placeholder="Телефон" data-parsley-required="true" data-parsley-validatephone)
							span
								input.contact__section-form--input(type="email" placeholder="Email")
						textarea.contact__section-form--input(placeholder="Сообщение")
						input.btn(type="submit" value="Отправить")




block inlineScripts