body {
	background: $body-bg;
}

.main-content {
	&__top-padding {
		padding-top: 114px;
	}
}

.container {
	max-width: 1760px;
	margin: auto;
	padding: 0 15px;
	width: 100%;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.block-link {
	display: block;
}

.custom-select {
	display: inline-block;
	outline: 0;
	border: none;
	background: url(../img/custom-select-arr.png) right center no-repeat;
	padding-right: 10px;
	text-decoration: none;
	&__title {
		font: 400 13px $os;
		color: #fec458;
		border-bottom: 1px dashed #fec458;
		padding-bottom: 4px;
		display: block;
		&:hover {
			color: #eaa321;
		}
	}
}

select.custom-select {
	-webkit-appearance: none; 
	-moz-appearance: none;
	appearance: none;
	color: #fec458;
	margin-left: 5px;
	cursor: pointer;
	&::-ms-expand { 
		display: none;
	}
	&--compute {
		display: none;
	}
}

.custom-select--compute {
	-webkit-appearance: none; 
	-moz-appearance: none;
	appearance: none;
}

.btn {
	height: 35px;
	border: 1px solid #d9a036;
	border-radius: 18px;
	padding: 0 22px;
	font: 400 13px/35px $os;
	color: #fec24a;
	text-transform: uppercase;
	cursor: pointer;
	transition: all .3s ease-in-out;
	background: transparent;
	margin: 30px 20px;
	display: inline-block;
	text-decoration: none;
	outline: 0;
	&:hover {
		background: #d9a036;
		color: #000;
	}
	&--inverted {
		background: #d9a036;
		color: #fff;
	}
}

.default-link {
	transition: color .2s ease-in-out;
	&:hover {
		color: $link-hover-color;
	}
}

.center-align {
	text-align: center;
}

body {
	font-family: $os;
}

.simplebar-track {
	background: #000;
}

.simplebar-scrollbar {
	background: #404040 !important;
}

.bordered-title  {
	margin: 0 0 25px;
	padding-bottom: 25px;
	background: url(../img/header-border.png) bottom center no-repeat;
}

.rouble {
	font-family: 'PT Rouble Sans';
	font-weight: normal;
	font-style: normal;
}

/* =Sticky Footer
-------------------------------------------------------------- */
html, body {
	height: 100%;
}
.all-wrapper {
	min-height: 100%;
	margin-bottom: -150px; 
}
.all-wrapper:after {
	content: "";
	display: block;
}
.site-footer, .all-wrapper:after {
	height: 150px; 
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	white-space: nowrap;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}