$arr-down: 0px 31px 0px -31px 5px 3px 42px 34px '../img/sprite.png';
$arr-up: 9px 31px -9px -31px 5px 3px 42px 34px '../img/sprite.png';
$check: 0px 16px 0px -16px 12px 11px 42px 34px '../img/sprite.png';
$edit-ico-gray: 0px 0px 0px 0px 12px 12px 42px 34px '../img/sprite.png';
$edit-ico: 16px 0px -16px 0px 12px 12px 42px 34px '../img/sprite.png';
$radio-check: 16px 16px -16px -16px 10px 10px 42px 34px '../img/sprite.png';
$radio-uncheck: 32px 0px -32px 0px 10px 10px 42px 34px '../img/sprite.png';
$uncheck: 32px 14px -32px -14px 10px 10px 42px 34px '../img/sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
